blinker==1.9.0
cffi==1.17.1
click==8.1.8
cryptography==44.0.2
ecdsa==0.19.1
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
liboqs-python @ file:///Users/ernestomoreno/Downloads/COS583/Final_Project/COS583_Final_Project/liboqs-python
MarkupSafe==3.0.2
mpmath==1.3.0
pycparser==2.22
pycryptodome==3.22.0
six==1.17.0
sympy==1.13.3
Werkzeug==3.1.3
