<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cryptography Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<script src="{{ url_for('static', filename='script.js') }}"></script>

<body>
    <div class="container">
        <h1>Encrypt Your Message</h1>
        <form action="/encrypt" method="post">
            <label for="message">Message:</label>
            <textarea name="message" rows="5" required></textarea>
            <br>
            <label for="algorithm">Choose Algorithm:</label>
            <select name="algorithm" required>
                <option value="rsa">RSA</option>
                <option value="aes">AES</option>
                <option value="ecc">ECC</option>
                <option value="dh">Diffie-Hellman</option>
                <option value="ml_dsa">ML-DSA</option>
                <option value="slh_dsa">SLH-DSA</option>
                <option value="ml_kem">ML-KEM</option>
            </select>

            <button type="submit">Encrypt</button>
        </form>
    </div>

    <script src="script.js"></script>
</body>
</html>
