<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cryptography Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1 id="heading">Encrypt Your Message</h1>
        <form action="/encrypt" method="post">
            <label id="message-label" for="message">Message:</label>
            <textarea id="message-content" name="message" rows="5" required></textarea>
            <br>
            <label for="algorithm">Choose Algorithm:</label>
            <select id="algorithm-select" name="algorithm" required>
                <option value="aes">AES</option>
                <option value="dh">Diffie-Hellman</option>
                <option value="rsa">RSA</option>
                <option value="ecc">ECC</option>
                <option value="ml_dsa">ML-DSA</option>
                <option value="slh_dsa">SLH-DSA</option>
                <option value="ml_kem">ML-KEM</option>
            </select>

            <button id="submit-button" type="submit">Encrypt</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
